@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(200%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes fadeLeftRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes fadeRightLeft {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes swingIn {
    0% {
      transform: rotateX(-100deg);

      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);

      transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes rollInBlurredLeft {
    0% {
      transform: translateX(-1000px) rotate(-720deg) scale(0%);
      filter: blur(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(0deg) scale(100%);
      filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes background {
    0% {
      transform: translateY(0);

      transform-origin: 50% 16%;
    }
    100% {
      transform: translateY(-15px);

      transform-origin: top;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fadeInUp {
    animation: fadeInUp 1s;
  }
  .fadeRightLeft {
    animation: fadeRightLeft 1.5s;
  }
  .fadeLeftRight {
    animation: fadeLeftRight 1.5s;
  }
  .fadeIn {
    animation: fadeIn 1.5s;
  }
  .swingIn {
    animation: swingIn 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  .rollInBlurredLeft {
    animation: rollInBlurredLeft 1.55s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
  .background {
    animation: background 2s ease-out both;
  }
  .fadeIn {
    animation: fadeIn 3s;
  }
}
